<div class="center hero-unit">
<h1>Welcome! </h1>
  <p>to the <%= link_to "String Love Guitar Practice App", "http://stringloveguitar.com" %>
  </p>
  <p>
    <%= link_to "Sign Up Now!", '#', class: "btn btn-large btn-primary" %>
    </p>
  </div>
